@import "var.css";
@import "../css/header/header.css";
@import "../css/ad/ad.css";
@import "../css/list/list.css";
@import "../css/footer/footer.css";
@import "../css/footer__bottom/footer__bottom.css";
/* !! ============ global ================= */

html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	/* position: relative; */
}

img {
	/* max-width: 100%; */
	max-height: 100%;
	height: auto;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

a {
	color: inherit;
	/* text-decoration: none; */
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
p,
label,
input {
	margin: 0;
}

iframe {
	border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

/* !! ============== general settings ============= */

@font-face {
	font-display: swap;
	font-family: "Roboto", sans-serif;
	src:
		local("Roboto-Regular"),
		local("Roboto Regular"),
		url("../fonts/Roboto-Regular.ttf") format("ttf"),
		url("fonts/Roboto-Regular.ttf") format("ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family: "Roboto", sans-serif;
	src:
		local("Roboto-Bold"),
		local("Roboto Bold"),
		url("../fonts/Roboto-Bold.ttf") format("ttf"),
		url("fonts/Roboto-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: "Roboto", sans-serif;
	src:
		local("Roboto-Black"),
		local("Roboto Black"),
		url("../fonts/Roboto-Black.ttf") format("ttf"),
		url("fonts/Roboto-Black.ttf") format("ttf");
	font-weight: 900;
	font-style: normal;
}

svg {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1260px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	color: rgba(255, 255, 255, 1);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28.13px;
	
}

.d-flex {
	display: flex;
}

.flex-sb {
	justify-content: space-between;
}

.align-itc {
	align-items: center;
}

.flex-dir-col {
	flex-direction: column;
}

.d-grid {
	display: grid;
}
