.ad {
	padding-top: 70px;
	padding-bottom: 75px;
	background-color: rgba(249, 249, 249, 1);
}

.ad__inner {
	position: relative;
	text-align: center;
}

.ad__title {
	margin-bottom: 27px;
	color: var(--grey-color);
	font-weight: 700;
	font-size: 35px;
	line-height: 41.02px;
}

.ad__about-us {
	margin-bottom: 35px;
	color: var(--grey-color);
	font-weight: 500;
	font-size: 22px;
	line-height: 25.78px;
}

.ad__about-us::before {
	display: block;
	position: absolute;
	content: "";
	width: 43px;
	height: 2px;
	top: 79px;
	left: 54.2%;
	background-color: var(--grey-color);
}

.ad__about-us::after {
	display: block;
	position: absolute;
	content: "";
	width: 43px;
	height: 2px;
	left: 42%;
	top: 79px;
	background-color: var(--grey-color);
}

.ad__text {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 56px;
	color: var(--grey-color);
	font-size: 18px;
	line-height: 25.31px;
}

.ad__items {
	grid-template-columns: repeat(4, 1fr);
	column-gap: 60px;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
}

.ad__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 196px;
	height: auto;
}


.ad__item-span {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 18px;
	width: 122px;
	height: 122px;
	color: #fff;
	font-weight: 500;
	font-size: 57px;
	line-height: 57px;
	background-image: url("../ad/img/Ellipse.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(35, 199, 236, 1);
	border-radius: 50%;
}

.ad__item-paragraph {
	justify-content: center;
	color: #000;
	font-weight: 500;
	font-size: 20px;
	line-height: 25.31px;
}

/* Слайдер */

.wrapper {
	display: none;
}

/* Медиазапросы */

/* !! ========== 1024px ====== */

@media screen and (max-width: 1024px) {

	.ad {
		padding-top: 70px;
		padding-bottom: 73px;
	}
	.ad__title {
		max-width: 900px;
		margin-bottom: 23px;
		margin-left: auto;
		margin-right: auto;
		font-size: 32px;
		line-height: 37.5px;
		font-weight: 600;
	}

	.ad__about-us {
		margin-bottom: 32px;
		font-size: 20px;
		line-height: 23.44px;
	}

	.ad__about-us::before {
		display: block;
		position: absolute;
		content: "";
		top: 71.5px;
		left: 55%;
	}

	.ad__about-us::after {
		display: block;
		position: absolute;
		content: "";
		left: 41%;
		top: 71.5px;
	}

	.ad__text {
		max-width: 666px;
		margin-bottom: 57px;
		margin-left: auto;
		margin-right: auto;
		font-size: 16px;
		line-height: 22.5px;
	}

	.ad__items {
		margin-left: auto;
		margin-right: auto;
		max-width: 856px;
	}

	.ad__item-span {
		margin-bottom: 26px;
		width: 104px;
		height: 104px;
		font-size: 52px;
		line-height: 73.13px;
	}

	.ad__item-paragraph {
		margin-bottom: 0;
		font-size: 18px;
		line-height: 25.31px;
	}
}

/* !! ===== 942px ======*/

@media screen and (max-width: 942px) {
	.ad__about-us {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 22.44px;
	}

	.ad__about-us::before {
		width: 36px;
		height: 1.5px;
		top: 116px;
	}

	.ad__about-us::after {
		width: 36px;
		height: 1.5px;
		top: 116px;
	}

	.ad__text {
		margin-bottom: 30px;
	}

	.ad__item-paragraph {
		font-size: 16px;
		line-height: 24.13px;
	}
}

/* !! ======== 866px ======*/

@media screen and (max-width: 866px) {
	.ad__about-us::before {
		top: 116px;
	}

	.ad__about-us::after {
		top: 116px;
	}

	.ad__items {
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		margin-left: auto;
		margin-right: auto;
		width: 450px;
	}

	.ad__text {
		margin-bottom: 60px;
	}
}

/* !============== 808px ========== */

@media screen and (max-width: 808px) {
	.ad__text {
		font-size: 16px;
		line-height: 22.5px;
	}
}

/* !! ======== 768px ======*/

@media screen and (max-width: 768px) {
	.ad__about-us::before {
		width: 40px;
		height: 1.5px;
		top: 116px;
	}

	.ad__about-us::after {
		left: 39%;
		top: 116px;
		width: 40px;
		height: 1.5px;
	}
}

/* !! ======== 664px ======*/

@media screen and (max-width: 664px) {
	.ad__about-us::before {
		top: 115px;
		left: 56.5%;
		width: 36px;
		height: 1.5px;
	}

	.ad__about-us::after {
		top: 115px;
		left: 37%;
		width: 36px;
		height: 1.5px;
	}
}

/* !! ======== 640px ======*/

@media screen and (max-width: 640px) {
	.ad {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.ad__about-us::before {
		top: 116px;
		left: 56.5%;
		width: 36px;
		height: 2px;
	}

	.ad__about-us::after {
		top: 116px;
		left: 37%;
		width: 36px;
		height: 2px;
	}

	.ad__items {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 50px;
	}
}

/* !! ======== 540px ======*/

@media screen and (max-width: 540px) {
	.ad__title {
		margin-bottom: 35px;
		color: var(--grey-color);
		font-weight: 700;
		font-size: 30px;
		line-height: 41.02px;
	}
	.ad__about-us::before {
		top: 127px;
		left: 56.5%;
		width: 36px;
		height: 2px;
	}

	.ad__about-us::after {
		top: 127px;
		left: 36%;
		width: 36px;
		height: 2px;
	}
}

/* !! ======== 514px ======*/

@media screen and (max-width: 514px) {
	.ad__about-us::before {
		top: 127px;
		left: 57%;
		width: 36px;
		height: 2px;
	}

	.ad__about-us::after {
		top: 127px;
		left: 35%;
		width: 36px;
		height: 2px;
	}
}

/* !! ======== 480px ======*/

@media screen and (max-width: 480px) {
	.ad__about-us::before {
		top: 127px;
		left: 58%;
		width: 36px;
		height: 2px;
	}

	.ad__about-us::after {
		top: 127px;
		left: 33%;
		width: 36px;
		height: 2px;
	}

	.ad__items {
		grid-template-columns: repeat(1, 1fr);
		gap: 40px;
		margin-left: auto;
		margin-right: auto;
		width: 190px;
	}
}

/* !! ======== 450px ======*/

@media screen and (max-width: 450px) {
	.ad__about-us::before {
		top: 168px;
		left: 60%;
		width: 36px;
		height: 2px;
	}

	.ad__about-us::after {
		left: 30%;
		top: 168px;
		height: 2px;
		width: 36px;
	}
}

/* !! ======== 390px ======*/

@media screen and (max-width: 390px) {
	.ad__about-us::before {
		top: 210px;
		left: 61%;
		width: 36px;
		height: 2px;
	}

	.ad__about-us::after {
		top: 210px;
		left: 28%;
		width: 36px;
		height: 2px;
	}
}

/* !! ======== 346px ======*/

@media screen and (max-width: 346px) {
	.ad__about-us::before {
		top: 210px;
		left: 62%;
		width: 36px;
		height: 1.5px;
	}

	.ad__about-us::after {
		top: 210px;
		left: 26%;
		width: 36px;
		height: 1.5px;
	}
}

/* !! ======== 320px ======*/

@media screen and (max-width: 320px) {
	.ad {
		padding-top: 30px;
		padding-bottom: 62px;
	}

	.ad__title {
		width: 287.07px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 17px;
		font-weight: 700;
		font-size: 20px;
		line-height: 23.44px;
	}

	.ad__text {
		width: 286.05px;
		margin-bottom: 40px;
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		line-height: 16.88px;
	}

	.ad__about-us {
		margin-bottom: 30px;
		width: 286px;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		line-height: 18.75px;
	}

	.ad__about-us::before {
		top: 74px;
		left: 67%;
		width: 19.71px;
		height: 1px;
	}

	.ad__about-us::after {
		top: 74px;
		left: 27%;
		width: 19.71px;
		height: 1px;
	}



	.ad__item {
		display: none;
	}

	/* слайдер */

	.wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}

	.slider {
		position: relative;
		width: 290px;
		padding: 0 10px;
		min-width: 0;
	}

	.slider__item {
		display: flex;
		flex-direction: column;
    width: 166.57px;
		height: auto;
		text-align: center;
		align-items: center;
	}

	.slider__item-span {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 26px;
		width: 104px;
		height: 104px;
		font-size: 52px;
		font-weight: 500;
		line-height: 73.13px;
		color: #fff;
		background-image: url("../ad/img/Ellipse.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-color: rgba(35, 199, 236, 1);
		border-radius: 50%;
	}

	.slider__item-paragraph {
		justify-content: center;
		margin-bottom: 0;
		max-width: 165px;
		color: #000;
		font-weight: 500;
		font-size: 18px;
		line-height: 25.31px;
	}

	/* Ограничивающая оболочка */
	.slick-list {
		overflow: hidden;
	}

	/* Лента слайдов */
	.slick-track {
		display: flex;
		align-items: flex-start;
	}

	.slider .slick-arrow {
		position: absolute;
		top: 30.8%;
		height: 78px;
		width: 78px;
		font-size: 0;
	}

	/* Стрелка влево */
	.slider .slick-arrow.slick-prev {
		left: -14px;
		background: url("/../css/ad/img/Left.svg") 0 0 / 100% no-repeat;
	}

	.slider .slick-arrow.slick-disabled {
		opacity: 0.2;
	}

	/* Стрелка вправо */
	.slider .slick-arrow.slick-next {
		right: -18px;
		background: url("/../css/ad/img/Right.svg") 0 0 / 100% no-repeat;
	}
}
