.footer__bottom {
	display: none;
	/* padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(42, 44, 63, 1); */
}

/* .footer__bottom-text {
	height: 47px;
justify-content: center;
}

.footer__bottom-paragraph {
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	font-family: "Roboto", sans-serif;
	font-style: normal;
  font-size: 12px;
	line-height: 16.88px;
} */

/* !! ======== 480px ======*/

@media screen and (max-width: 480px) {
	.footer__bottom {
		display: flex;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: rgba(42, 44, 63, 1);
	}

	.footer__bottom-text {
		height: 47px;
		justify-content: center;
	}

	.footer__bottom-paragraph {
		font-weight: 500;
		color: rgba(255, 255, 255, 0.5);
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-size: 12px;
		line-height: 16.88px;
	}
}
