.footer-bottom {
	display: none;
}


/* !! ======== 480px ======*/

@media screen and (max-width: 480px) {
	.footer-bottom{
		display: flex;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: rgba(42, 44, 63, 1);
	}

	.footer-bottom__text {
		justify-content: center;
		height: 47px;
	}

	.footer-bottom__paragraph {
		font-family: "Roboto", sans-serif;
		font-size: 12px;
		color: rgba(255, 255, 255, 0.5);
		font-weight: 500;
		font-style: normal;
		line-height: 16.88px;
	}
}


/* !! ======== 320px ======*/

@media screen and (max-width: 320px) {
	.footer-bottom {
		padding-top: 1px;
		padding-bottom: 0px;
	}
}
